.number1 {
  color: blue;
}

.number2 {
  color: green;
}

.number3 {
  color: red;
}

.number4 {
  color: darkblue;
}

.number5 {
  color: darkred;
}

.number6 {
  color: cyan;
}

.number7 {
  color: black;
}

.number8 {
  color: grey;
}
